<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:w="http://jboss.org/schema/weld/beans"
       xsi:schemaLocation="http://jboss.org/schema/weld/beans http://www.jboss.org/schema/weld/beans_1_1.xsd
       http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/beans_1_0.xsd ">

	<interceptors>
		<class>org.planner.util.LoggingInterceptor</class>
	</interceptors>

	<w:scan>
		<w:exclude name="org.planner.ui.util.parser.**"/>
	</w:scan>
</beans>