h1 {
	border-bottom: solid;
}
dt {
	font-style: italic;
	font-weight: bold;
}
.help-button {
	cursor: auto !important;
	margin: 0.5em 0.5em 0.5em 0 !important;
}
.help-section {
	display: none;
}