@CHARSET "UTF-8";
#heading {
	overflow: hidden;
}
.ui-layout-north > div {
	overflow: hidden !important;
}
#menuButton {
	width: 16px;
	height: 16px;
	margin: 0 10px 0 10px;
	padding: 1px 4px 3px 2px;
	float: left;
	border: none;
	cursor: pointer;
	display: none;
}

#menuButton > div {
	position: relative;
	height: 5px;
	top: -8px;
}

#heading #title {
	font-weight: bold;
	padding-left: 1em;
}

#heading #title a {
	text-decoration: none;
}

#heading #logout {
	position: fixed;
	right: 0;
	top: 1px;
}

#heading #logout > * {
	float: left;
}

.theme {
	padding: 0 !important;
}

#logout #userimg {
	cursor: pointer;
	margin-right: 1em;
}

.profileMenu {
	width: 12.5em;
	font-size: smaller;
	text-align: center;
	left: auto !important;
	right: 2px;
}

#leftMenuContainer {
	position: fixed;
	display: inherit;
}

#contentGroup {
	height: 100%;	
}

#mainContent {
	position: relative;
	min-height: 100%;
	margin-left: 13.3em;
}

#start {
	text-align: center;
	font-weight: bold;
	position: absolute;
	top: 50%;
	height: 50%;
	width: 100%;
}

.noscript {
	background-color: white;
	color: red;
	border: 1px solid;
	border-radius: 5px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 3em;
	width: 15em;
	text-align: center;
	font-family: Arial;
	font-size: 20px;
	visibility: visible;
}

.help {
	height: 100%;
	width: 70%;
	left: 100%;
	top: 0;
	position: fixed;
	overflow: auto;
	z-index: 1000;
}

@media only screen and (max-width: 940px) {
	#mainContent {
		margin-left: 0;
	}
	#leftMenuContainer {
		position: fixed;
		z-index: 1;
		display: none;
	}
	.menuHidden {
		display: none;
	}
	#menuButton {
		display: inherit;
	}
	#theme {
		display: none;
	}
	#userimg {
		/* margin-right: 30%; */
	}
	.help {
		width: 100%;
	}	
/* 	input {
	haut nicht hin beim spinner!
		width: 94%;
	}
 */}

.actionMenu {
	width: 20em !important;	
}

.ui-columntoggler {
	height: auto !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container {
	display: inherit !important;
}

.ui-password-panel {
	width: 94% !important;
}

div.clearFilter {
	position: relative;
}

div.clearFilter input {
	padding-right: 20px;
}

div.clearFilter span {
	position: absolute;
	top: 8px;
	right: 6px;
	width: 16px;
	height: 16px;
	background: url("#{resource['images/clear.png']}");
	cursor: pointer;
}

.ui-autocomplete-panel {
	width: 400px !important;
}

.gap {
	margin-right: 0.5em !important;
}

.editButton {
	margin-right: 10px !important;
}

.copyDialog > div {
	overflow: hidden !important;
}

.copyDialog .buttons {
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
}

.copiedMessage {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 10em;
	height: 1.4em;
	text-align: center;
	background-color: white;
	color: black;
	border: 1px solid;
	border-radius: 5px;
}

.errorBox {
	margin: 20px 0 20px 0;
}

.errorBox > legend {
	cursor: pointer;
}

.blur {
	filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
}

.loginTable.ui-panelgrid>*>tr,
.loginTable.ui-panelgrid .ui-panelgrid-cell {
	border: none;
	background: none;
}

.passwordRecovery {
	color: #9fa6ad !important;
	font-size: 9px;
	text-decoration: none;
	position: relative;
	top: -8px;
}

.loginError {
    color: red;
    text-align: center;
	position: relative;
	top: -8px;
}

.loginNoUser {
	padding-top: 3px;
	width: 20em;	
}

input[readonly=readonly] {
	opacity: .35;
	filter: Alpha(Opacity=35);
	background-image: none;
}

.ui-growl {
	width: 60% !important;
}

.ui-growl-message {
	width: calc(100% - 42px) !important;
}

.planner-listbox li.ui-state-disabled {
	background-color: inherit;
	color: inherit;
	opacity: inherit;
	filter: inherit;
}

.registrationIncomplete {
	background-color: rgba(228,29,29,0.4);
	background-image: none;
}

.regEditTable {
	padding: 1px !important;
	vertical-align: top;
	width: 49%;
}

.regEditTableMid {
	padding: 1px !important;
	vertical-align: middle;
}

/* .expanded {
	width: 100%;
} */

.expanded .ui-datalist-content {
	height: 100%;
}

.expanded ul li {
	float: left;
}

.program-dayTimes {
	float: left;
	margin-right: 0.8em;
}

.datalist-blank .ui-widget-content {
	background: none;
	border: none;
}

.ui-datalist-header {
	text-align: left !important;	
}

.readonly tr {
	cursor: inherit !important;
}

.teamTable .heat {
	color: inherit;
}

.teamTable .semiFinal {
	/* color: yellow; */
}

.teamTable .finalA {
	/* color: red; */
}

.teamTable .finalB {
	color: orange;
}

.teamTable .ui-datatable-header {
	float: left;
	width: 100%;
	padding: 0 !important;
}

.teamTable .ui-datatable-tablewrapper {
	clear: both;
}

.teamTable.program.resultEdit {
	cursor: copy;
}

.teamTable.program thead {
	display: none;
}

.teamTable.program .ui-column-title {
	display: none !important;
}

.teamTable .raceTitle {
	text-align: left;
	width: 40%;
	float: left;
	padding: 4px 10px;
}

.teamTable .raceInfo {
	width: 40;
	float: left;
}

.teamTable tbody, .teamTable td {
	border-width: 0px !important;
	border-style: none !important;
}

.qNone {
	border-width: 0px !important;
	border-style: none !important;
	background-image: none;
}

.qForSemiFinal {
	border-bottom-style: dashed !important;
	border-bottom-width: 1px !important;
}

.qForFinalA {
	border-bottom-style: dotted !important;
	border-bottom-width: 1px !important;
}

.deficit {
	font-size: smaller;
	opacity: .5;
	filter: Alpha(Opacity=50);
}

.positionCol {
	width: 3em;
}

.numberCol {
	width: 3em;	
}

.numberCol.program {
	width: 10px;	
}

.memberCol {
	width: 70%;
}

.teamCol.program {
	text-align: right;
}

.teamCol {
	text-align: right;
	width: 12em;
}

.timeCol {
	width: 4em;
	text-align: right;
}

.teamMembers > div {
	background: none;
	border: none;
}

.resultEdit {
	width: 100%;
}

.resultEdit .ui-widget-header {
	width: 100% !important;
}

.resultEdit .ui-widget-content {
	height: unset !important;
	width: 100% !important;
}

.resultEdit *> td {
	border: none !important;
}

.time {
	font-family: monospace !important;
	font-size: smaller !important;
}

.syntaxProblem {
	background: url(data:image/gif;base64,R0lGODlhCgAEAMIEAP9BGP6pl//Wy/7//P///////////////yH5BAEKAAQALAAAAAAKAAQAAAMROCOhK0oA0MIUMmTAZhsWBCYAOw==) repeat-x scroll 0 100% transparent
}

@media only screen and (max-width: 640px) {
	/* reflow styles */
	.toggler > .ui-column-title {
		visibility: hidden;
	}
	.toggler {
		width: 100% !important;
		display: flex !important;
	}
	.teamTable tbody, .teamTable tr {
		border-bottom-width: 1px !important;
		border-bottom-style: solid !important;
	}
}
