@CHARSET "UTF-8";
#heading {
	overflow: hidden;
}
#menuButton {
	width: 16px;
	height: 16px;
	margin: 0 10px 0 10px;
	padding: 1px 4px 3px 2px;
	float: left;
	border: none;
	cursor: pointer;
	display: none;
}

#menuButton > div {
	position: relative;
	height: 5px;
	top: -8px;
}

#heading #title {
	font-weight: bold;
	padding-left: 1em;
}

#heading #title a {
	text-decoration: none;
}

#heading #logout {
	position: fixed;
	right: 0;
	top: 0;
}

#heading #logout > * {
	float: left;
}

#logout #theme {
	margin-top: 3px;
}

#logout #userimg {
	cursor: pointer;
	margin-right: 1em;
}

.profileMenu {
	width: 12.5em;
	font-size: smaller;
	text-align: center;
	left: auto !important;
	right: 2px;
}

#leftMenuContainer {
	float: left;
	display: inherit;
}

#contentGroup {
	height: 100%;	
}

#mainContent {
	position: relative;
	min-height: 100%;
	margin-left: 13.3em;
}

#start {
	text-align: center;
	font-weight: bold;
	position: absolute;
	top: 50%;
	height: 50%;
	width: 100%;
}

.noscript {
	background-color: white;
	color: red;
	border: 1px solid;
	border-radius: 5px;
	margin-left: 37%;
	width: 25%;
	z-index: 2;
	text-align: center;
	font-family: Arial;
	font-size: 20px;
}

.help {
	height: 100%;
	width: 70%;
	left: 100%;
	position: fixed;
	overflow: auto;
}

@media only screen and (max-width: 700px) {
	#mainContent {
		margin-left: 0;
	}
	#leftMenuContainer {
		position: fixed;
		z-index: 1;
		display: none;
	}
	.menuHidden {
		display: none;
	}
	#menuButton {
		display: inherit;
	}
	#theme {
		display: none;
	}
	#userimg {
		/* margin-right: 30%; */
	}
	.help {
		width: 100%;
	}
/* 	input {
	haut nicht hin beim spinner!
		width: 94%;
	}
 */}

.ui-columntoggler {
	height: auto !important;
}

.ui-password-panel {
	width: 94% !important;
}

.ui-datatable .ui-column-filter {
	width: 90% !important;
}

.ui-autocomplete-panel {
	width: 400px !important;
}

.editButton {
	margin-right: 10px !important;
}

td.hiddenHintCol {
	position: relative;
}

.hiddenHint {
	position: absolute;
	right: 0;
	top: 0;
	height: 5px;
	width: 5px;
}

.copyDialog > div {
	overflow: hidden !important;
}

.copyDialog .buttons {
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
}

.copiedMessage {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 10em;
	height: 1.2 em;
	text-align: center;
	background-color: white;
	color: black;
	border: 1px solid;
	border-radius: 5px;
}

.errorBox {
	margin: 20px 0 20px 0;
}

.errorBox > legend {
	cursor: pointer;
}

#loginDialog_modal {
	background: black;
	opacity: .85;
	filter: Alpha(Opacity=85);
}

.loginTable.ui-panelgrid>*>tr,
.loginTable.ui-panelgrid .ui-panelgrid-cell {
	border: none;
	background: none;
}

.passwordRecovery {
	color: #9fa6ad !important;
	font-size: 9px;
	text-decoration: none;
	position: relative;
	top: -8px;
}

.loginError {
    color: red;
    text-align: center;
	position: relative;
	top: -8px;
}

.loginNoUser {
	padding-top: 3px;
	width: 20em;	
}

input[readonly=readonly] {
	opacity: .35;
	filter: Alpha(Opacity=35);
	background-image: none;
}

.planner-listbox li.ui-state-disabled {
	background-color: inherit;
	color: inherit;
	opacity: inherit;
	filter: inherit;
}

.registrationIncomplete {
	background-color: #e41d1d66;
	background-image: none;
}

.ui-datalist-header {
	text-align: left !important;	
}

.teamTable .heat {
	color: inherit;
}

.teamTable .semiFinal {
	color: yellow;
}

.teamTable .finalA {
	color: red;
}

.teamTable .finalB {
	color: orange;
}

.teamTable .ui-datatable-header {
	float: left;
	width: 100%;
	padding: 0 !important;
}
.teamTable .ui-datatable-tablewrapper {
	clear: both;
}
.teamTable thead {
	display: none;
}
.teamTable .ui-column-title {
	display: none !important;
}

.teamTable .raceTitle {
	text-align: left;
	width: 40%;
	float: left;
	padding: 4px 10px;
}

.teamTable .raceInfo {
	width: 40;
	float: left;
}

.teamTable tbody, .teamTable tr, .teamTable td {
	background: none;
	border: none !important;
}

.numberCol {
	width: 10px;	
}

.memberCol {
	width: 75%;
}

.teamCol {
	text-align: right;
}

.teamMembers > div {
	background: none;
	border: none;
}
